:root {
  --dnest-orange: rgb(204, 110, 57);
  --dnest-magenta: rgb(155, 55, 91);
  --dnest-opaque-magenta: rgba(205, 29, 133, 0.5);
}

header .nav-item :hover {
  color: var(--dnest-magenta);
}

.D {
  border: 1px solid red;
}

#donate-btn {
  background-color: var(--dnest-orange);
  color: white;
}

#donate-btn:hover {
  background-color: var(--dnest-magenta);
}

#salinas-overview {
  background: linear-gradient(var(--dnest-opaque-magenta), transparent),
    center no-repeat url("/public/images/salinas-mountains.jpg");
}
